extends layout

block content
  h2 Welcome to #{title}
  p This is an inventory for our music store, where we manage our various types of products and their stock.
  span 
    p #[strong We currently have #{num_items} items on our store, as well as #{num_categories} distinct item categories.]
    p You can take a look at everything we have in stock by using the sidebar links.